<h1>Besterestest</h1>
<form id="mainform" action="video" method="get">
	<p>
		<label for="videoid">YouTube video:</label>
		<input id="videoid" name="videoid"/>
	</p>
	<p>
		<label for="soundtrack">Soundtrack:</label>
		<select id="soundtrack" name="soundtrack"/>
			<option value="airgstring">Bach's Air on a G String</option>
			<option value="bennyhill">Benny Hill theme</option>
			<option value="finalcountdown">Europe's The Final Countdown</option>
			<option value="chariotsfire">Vangelis' Chariots of Fire</option>
			<option value="imperialmarch">Star Wars' Imperial March</option>
			<option value="lordoftherings">Lord of the Rings</option>
		</select>
	</p>
	<p>
		<label for="playbackrate">Playback speed:</label>
		<select id="playbackrate" name="playbackrate">
			x<option value="0.25">0.25x</option>
			x<option value="0.5" selected>0.5x</option>
			x<option value="1">1x</option>
			x<option value="1.5">1.5x</option>
			x<option value="2">2x</option>
		</select>
	</p>
	<p>
		<label for="mute">Mute video:</label>
		<input type="checkbox" name="mute" id="mute" checked/>
	</p>
	<!--p>
		<label for="sv_id">Video for soundtrack:</label>
		<input id="sv_id" name="sv_id"/>
	</p-->
	<p>
		<input type="submit">
	</p>
</form>
