<h1>Example App: Home</h1>
<form id="mainform" action="video" method="get">
	<input  id="videoid" name="videoid"/>
	<select id="soundtrack" name="soundtrack"/>
		<option value="airgstring">Bach's Air on a G String</option>
		<option value="bennyhill">Benny Hill theme</option>
		<option value="finalcountdown">Europe's The Final Countdown</option>
		<option value="imperialmarch">Vangelis' Chariots of Fire</option>
	</select>
	<select id="playbackrate" name="playbackrate">
		<option>0.25</option>
		<option>0.5</option>
		<option>1</option>
		<option>1.5</option>
		<option>2</option>
	</select>
	<input type="checkbox" name="mute" id="mute">Mute video?</input>
	<input type="submit">
</form>
