<!DOCTYPE HTML>
<html>
<body>
<h1>Video rabelz</h1>
<div id="player"></div>
<script>
    //Load player api asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var done = false;
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height      : '390',
          width       : '640',
		  playerVars  : { controls     : 0 },
          videoId     : '{{videoid}}',
          events      : {
            'onReady'       : onPlayerReady,
            'onStateChange' : onPlayerStateChange
          }
        });
    }
    function onPlayerReady(evt) {
		console.log(player.isMuted());
		{{#if mute}}
			player.mute();
		{{/if}}
        evt.target.playVideo();
    }
    function onPlayerStateChange(evt) {
		var audio_tag = document.getElementById('audio_tag');
		if(evt.data === 1)       audio_tag.play();
		else if (evt.data === 2) audio_tag.pause();
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>
<audio id="audio_tag" loop="loop">
  <source src="/sounds/{{soundtrack}}.ogg" type="audio/ogg"  />
</audio>
</body>
</html>

