<h1>Video rabelz</h1>


<dl>
	<dt>Video id:</dt>
	<dd>{{videoid}}</dd>
	<dt>Mute:</dt>
	<dd>{{mute}}</dd>
	<dt>Soundtrack:</dt>
	<dd>{{soundtrack}}</dd>
	<dt>Playback rate:</dt>
	<dd>{{playbackrate}}</dd>
</dl>

